.overlay {
  @apply bg-gray-400 bg-opacity-40 grid place-items-center w-full h-full fixed top-0 left-0 z-40;
}

.loader {
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  border-radius: 50%;
  perspective: 800px;
  @apply absolute w-16 h-16 z-50;
}

.inner {
  border-radius: 50%;
  @apply absolute w-full h-full;
}

.inner.one {
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid;
  @apply left-0 top-0 border-cyan-400;
}

.inner.two {
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid;
  @apply border-cyan-400 right-0 top-0;
}

.inner.three {
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid;
  @apply border-cyan-400 right-0 bottom-0;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
