@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --size: 120;
  --coefficient: 1px;
  --timeline: 2.6s;
  --delay: 0.65s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply text-gray-700;
}

/**
* custom tailwindcss classes for switch antd
* The following code is used to style the switch component used in the
* settings page. The switch component is used to toggle the notification
**/

.ant-switch.ant-switch-checked {
  @apply bg-cyan-400 h-9;
}

.ant-switch {
  @apply h-9;
}

.ant-switch .ant-switch-inner {
  @apply py-2;
}

.ant-switch .ant-switch-handle {
  @apply top-[10px];
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  @apply bg-cyan-500;
}

.ant-form-item {
  margin-bottom: 0;
  width: 100%;
}

/**  custom link underline **/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(37 99 235), rgb(37 99 235));
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/**  custom scrollbar **/
.scroll-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll-custom::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

.scroll-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4198ff;
}

.profile-custom-radio .ant-radio-checked .ant-radio-inner {
  @apply !border-orange-500 !bg-orange-500;
}

.profile-custom-radio .ant-radio-checked {
  @apply !text-orange-500;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  @apply !border-orange-500;
}

.q-answer .ant-checkbox-inner {
  @apply rounded-full border-[5px] border-green-400 !w-full !h-full;
}

.q-answer .ant-checkbox .ant-checkbox-inner::after {
  @apply !top-[44%] !left-[6.5px] !h-[11px] !w-[6px];
}

.q-answer .ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-green-400 !border-green-500;
}

.q-answer .ant-checkbox-checked::after {
  @apply rounded-full border-[3px] border-green-500;
}

.q-answer .ant-checkbox {
  @apply w-full h-full;
}

.q-answer textarea {
  resize: none;
}
